.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;

  box-shadow: 2px 2px 50px rgb(177, 176, 176);
  overflow: scroll;

  h2 {
    padding: 2rem;
  }
}

.librarySong {
  display: flex;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
  cursor: pointer;

  img {
    width: 30%;
  }

  &:hover {
    background-color: rgb(233, 234, 255);
  }
}

.selectedSong {
  background-color: rgb(191, 193, 230);
}

.songDescription {

  h3 {
    font-size: 1rem;
  }

  h4 {
    font-size: 0.7rem;
  }
}